<div class="bg-primary w-50 mx-auto p-4 mt-4 rounded-4">
    <h1 class="text-center">ADMIN LOGIN DETAILS</h1>
    <form [formGroup]="loginForm" (ngSubmit)="adminLoggedIn()">
        <div>
            <input type="text" class="w-100 mb-3" formControlName="username">
        </div>
        <div>
            <input type="password" class="w-100" formControlName="password">
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-warning">ADMIN LOGIN</button>
        </div>
    </form>
</div>
